@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin:0;
    padding: 0;
}

body {
    /*background-color: #1F2937;*/
    background-image: linear-gradient(to bottom right, #1F2937, #000c29);
    font-family: 'Barlow Condensed', arial;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
}

.bold {
    font-weight: 700;
}

/* Header */

.header {
    display: flex;
    padding: 20px 10vw 10px 10vw;
    align-items: center;
    
}

.logo {
    margin-right: auto;
}

.logo h3 {
    margin: 0;
    color: #F9FAF8;
    font-size: 48px;
}

.navigation {
    display: flex;
    margin-left: auto;
    padding: 0 10px;
    background-color: #F9FAF8;
    border-radius: 10px;
}

.navigation a {
    padding: 10px 15px;
    display: inline-block;
    color: #1F2937;
    font-weight: 700;
    font-size: 24px;
    padding-left: 10px;
}

/* Hero */

.hero {
    display: flex;
    flex-direction: row;
    padding: 7vw 10vw;
}

.hero-txt {
    display: flex;
    flex-direction: column;
    text-align: left;
    
}

.hero-txt h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 700px;
    margin: 0 120px 0 0;

}

.hero-txt p {
    color: #E5E7EB;
    font-size: 18px;
    width: 75%;
    margin: 10px 0 20px 0;
}

.hero-img {
    width: 800px;
    height: 300px;
    overflow: hidden;
}

.hero-txt button {
    border-radius: 10px;
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: 700;
    border: none;
    width: 110px;
    text-align: center;
    padding: 10px;
    margin-top: 5px;
}

.cover {
    object-fit: cover;
    width: 100%;
}

/* Info */

.info {
    background-color: #F9FAF8;
    padding: 0 10vw;
    color: #1F2937;
    padding-bottom: 100px;
}

.info h2 {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    text-align: center;
    margin-top: 70px;
}

.features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
    }

.features img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border: 10px solid #1F2937;
    border-radius: 15px;
    }

.features p {
    margin-top: 10px;
    width: 220px;
    text-align: center;
    font-size: 18px;
}

/* Quote */

.quote {
    background-color: #E5E7EB;
    padding: 5vw 10vw 3vw 10vw;
    color: #1F2937;
    display: flex;
    flex-direction: column;
}

#q-txt {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    margin: 0;
}

#q-person {
    font-weight: 500;
    font-size: 24px;
    text-align: right;
}


/* Sign-Up */

.sign-up {
    background-color: #F9FAF8;
    padding: 8vw 10vw;
}

.box {
    display: flex;
    flex-direction: row;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 0 50px;
}

.box h4 {
    font-size: 24px;
    margin: 50px 0 0 3vw;
    color: #F9FAF8
}

.box p {
    font-size: 18px;
    margin: 0 0 50px 3vw;
    color: #E5E7EB
}

.box button {
    background-color: #3882f6;
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    width: 110px;
    text-align: center;
    color: #F9FAF8;
    padding: 10px;
    margin: auto 50px auto auto;

    ;
}

/* Footer */

.footer {
    text-align: center;
    color:#E5E7EB;
    font-size: 18px;
    margin: 30px auto;

}
